<app-header title="Star Wars Explorer"></app-header>
<div class="buttons">
<div class="btn">
<button mat-flat-button
        [disableRipple]="true"
        (click)="goToPeople()"
        color="primary">PEOPLE</button>
</div>

<div class="btn">
<button mat-flat-button
        [disableRipple]="true"
        (click)="goToMovies()"
        color="primary">MOVIES</button>
</div>

<div class="btn">
<button mat-flat-button
        [disableRipple]="true"
        (click)="goToPlanets()"
        color="primary">PLANETS</button>
</div>
</div>

